body {
    padding-top: 80px;
    font-family: "Varela Round", sans-serif;
  }
  
  .show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }

  .img-cart {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
table tr td{
    border:1px solid #FFFFFF;    
}

table tr th {
    background:#eee;    
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.btn-header {
  width: 120px;
}